<ion-view>
<ion-content>
  <h4 class="text-center">Choose conversation mode</h4>
<div class="list">

  <div class="item item-divider positive">
    Peer-to-Peer
  </div>
  <a class="item" href="#/users">
    Chat with another user.
  </a>
  <div class="item item-divider positive">
    Room
  </div>
  <a class="item" href="" ng-click="createRoom()">
    Create a new room.
  </a>
  <a class="item" href="" ng-click="joinExisting()">
    Join an existing room.
  </a>

</div>
</ion-content>
</ion-view>