<ion-view>
  <ion-content>
    <div class="list">
      <form name="testForm" novalidate>
      <label class="item item-input">
        <input type="text" ng-model = "firstname" placeholder="First Name" required>
      </label>
      <label class="item item-input">
        <input type="text" ng-model = "lastname" placeholder="Last Name" required>
      </label>
    </div>
      <div class="padding">
        <button type="submit" class="button button-block button-dark" ng-click="registerUser()">Submit</button>
      </div>
    <form>
  </ion-content>
</ion-view>

