<ion-content>
  <div class="row padding">
    <div class="col-80">
      user 1
    </div>
    <div class="col-20">
      <button class="border-radius">chat</button>
    </div>
  </div>
  <div class="row padding">
    <div class="col-80">
      user 1
    </div>
    <div class="col-20">
      <button>chat</button>
    </div>
  </div>
  <div class="row padding">
    <div class="col-80">
      user 1
    </div>
    <div class="col-20">
      <button>chat</button>
    </div>
  </div>
</ion-content>