/* Empty. Add your own CSS if you like */

ion-content {
  background-color: transparent;
}

.x-Message {
  vertical-align: middle;
  font-size: 12px;
  padding: 10px;
}

.bar-footer {
  min-height: 20px !important;
}


